<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Database Admin - Salient Seed-Production Systems</title>

</head>
<body>
    <ul class="topMenu">
      <li id='siteName'>Admin Manager</li>
      <li><a href="/">Home</a></li>
      <li><a href="/ProductionLots">Production Lots</a></li>
      <li><a href="/CropSpecies">Crop Species</a></li>
      <li><a href="/GermplasmOrigins">GermplasmOrigins</a></li>
      <li><a href="/RDPrograms">RD Programs</a></li>
      <li><a href="/ProductionFields">Production Fields</a></li>
      <li><a href="/PCSites">PCSites</a></li>
      <li><a href="/ProductionSpecialists">Production Specialists</a></li>
      <li><a href="/SpecialistMemberships">Specialist Memberships</a></li>
      <li><a href="/PCPrograms">PC Programs</a></li>
      <li id='logOutPane'>
        <a href="/">Home</a>
      </li>
    </ul>

    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <p> This should appear from the main additions </p>
</body>
</html>