<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Database Admin - Salient Seed-Production Systems</title>
</head>
<body>
    <ul class="topMenu">
      <li id='siteName'>Admin Manager</li>
      <li><a href="/">Home</a></li>
      <li><a href="/ProductionLots">Production Lots</a></li>
      <li><a href="/CropSpecies">Crop Species</a></li>
      <li><a href="/GermplasmOrigins">GermplasmOrigins</a></li>
      <li><a href="/RDPrograms">RD Programs</a></li>
      <li><a href="/ProductionFields">Production Fields</a></li>
      <li><a href="/PCSites">PCSites</a></li>
      <li><a href="/ProductionSpecialists">Production Specialists</a></li>
      <li><a href="/SpecialistMemberships">Specialist Memberships</a></li>
      <li><a href="/PCPrograms">PC Programs</a></li>
    </ul>

    {{{body}}}
</body>
</html>