<div id="mainBox">
    <div id="homeHeader">
        <h1>Welcome to Salient Seed-Production Solutions administration page!</h1>
    </div>
    <div id="homeLinks">
        <h2>Please select a table from the top menue to view and edit</h2>
    </div>

</div>
