<div id="mainBox">
    <div id="homeHeader">
        <h1>Welcome to: An empty home page header!</h1>
    </div>
    <div id="homeLinks">
        <h2>Select a table from the top menue to view and edit</h2>
    </div>
</div>