<h1>Welcome to Salient Seed-Production Solutions administration page!</h1>

    <div class="indentForm">
        <h2>Please select a table from the top menue to view and edit</h2>
        <ul class="formalList">
            <li>Seed Lots - Manage individual seed production lots</li>
            <li>Species - Add or remove crop species</li>
            <li>Origins - Create and manage unique germplasm origins</li>
            <li>Fields - Add or remove production locations</li>
            <li>Sites - Manage production hubs</li>
            <li>Specialists - Assign employees to Production Specialist roles</li>
            <li>Memberships - Manage program permissions for Specialists</li>
            <li>PC Programs - Manage Pre-Commercial production programs</li>
            <li>R&D Programs - Maintain records of inbound R&D breeding programs</li>
    </div>
