<div id="mainBox">
    <div id="homeHeader">
        <h1>Welcome to: An empty home page header!</h1>
    </div>
    <div id="homeLinks">
        <h2>Select a table from the top menue to view and edit...</h2>
    </div>

</div>

<div>
        <p>Test text in body paragraph</p>
    </div>
    <div class="scrollBox">
    <p>This site is used to create and store agricultrual research plots</p>
    <p>Or that is at least the idea of what it could do. Right now it doesnt do much besides look somewhat attractive and show a handfull of dummy locations</p>
    <br>
    <p>Ideally, this page should be able to...
    <ul class='formalList'>
        <li>Create fields based on user-drawn polygons over satellite imagery</li>
        <li>Assign sub-units to fields to denote specific experimental plots</li>
        <li>Allow users to upload in-season data like planting date, crop varieties, disease notes, harvest records, and more!</li>
    </ul>
    <br>
    <p>Styling for this page has been adapted to loosely resemble that of my employer, <a href="https://www.bayer.com/">Bayer</a>.</p>
    <br>
    <p>But if you want to learn more about research plots, check out this article by <a href="https://www.farmprogress.com/crops/size-matters-when-it-comes-research-plots">Farm Progress</a>.</p>
    <br>
    <p>Hope this was enough text to need a scroll box!</p>
    <br>
    <p> Yup, it was</p>

</div>