<div>
        <a href="/"><button class="homeButton">Home</button></a>
    </div>
    <div>
        <h1>Add PC Programs</h1>
    </div>
    <div class="formBox">
        <form method="post" action="">
            <div class="formInputs">
                <label for="pcProgDesc">PC Program Description: </label>
                <input type="text" name="pcProgDesc" id="pcProgDesc" placeholder="Description">
            </div>
            <div>
                <input id="form" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div>
        <h1>Current Data:</h1>
        <table id="PCProgramsTable">
            <thead>
                <tr>
                    <td>PC Program ID</td>
                    <td>Program Description</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {{#results}}
                <tr>
                    <td>{{this.pcProgID}}</td>
                    <td>{{this.pcProgDesc}}</td>
                    <td><button id="D{{this.id}}">Delete</button></td>
                    <td><button id="u{{this.id}}">Update</button></td>
                </tr>
                {{/results}}
            </tbody>
        </table>
    </div>