<div>
        <a href="/"><button class="homeButton">Home</button></a>
    </div>
    <div>
        <h1>Add RD Programs</h1>
    </div>
    <div class="formBox">
        <form method="post" action="">
            <div class="formInputs">
                <label for="rdProgDesc">Program Description: </label>
                <input type="text" name="rdProgDesc" id="rdProgDesc" placeholder="Description">
            </div>
            <div class="formInputs">
                <input id="form" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div>
        <h1>Current Data:</h1>
        <table id="RDProgramsTable">
            <thead>
                <tr>
                    <td>RD Program ID</td>
                    <td>RD Program Description</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {{#results}}
                <tr>
                    <td>{{this.rdProgID}}</td>
                    <td>{{this.rdProgDesc}}</td>
                    <td><button id="D{{this.id}}">Delete</button></td>
                    <td><button id="u{{this.id}}">Update</button></td>
                </tr>
                {{/results}}
            </tbody>
        </table>
    </div>