
<h1>Add RD Programs</h1>


<form method="post" action="">
    <ul class="formalList">
        <li><label for="rdProgDesc">Program Description: </label>
            <input type="text" name="rdProgDesc" id="rdProgDesc" placeholder="Description"></li>
        <input id="form" type="submit" value="Submit">
    </ul>
</form>
   

<div>
    <h1>Current Data:</h1>
    <table id="RDProgramsTable" class="formalTable">
        <thead>
            <tr>
                <th>RD Program ID</th>
                <th>RD Program Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#results}}
            <tr>
                <td>{{this.rdProgID}}</td>
                <td>{{this.rdProgDesc}}</td>
                <td><input id="D{{this.id}}" type="Submit" value="Delete"></td>
                <td><input id="u{{this.id}}" type="Submit" value="Update"></td>
            </tr>
            {{/results}}
        </tbody>
    </table>
</div>